# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
%pip install webdriver-manager
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()  
from selenium import webdriver 
import time

Requirement already satisfied: webdriver-manager in c:\users\ari\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: python-dotenv in c:\users\ari\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: requests in c:\users\ari\anaconda3\lib\site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: tqdm in c:\users\ari\anaconda3\lib\site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ari\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ari\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ari\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ari\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: colorama in c:\users\ari\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
url = 'https://github.com/trending/developers'
driver=webdriver.Chrome(PATH, options=opciones)

driver.get(url)

C:\Users\Ari\AppData\Local\Temp\ipykernel_8048\3045209120.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)

In [5]:
from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...



import warnings
warnings.filterwarnings('ignore')#your code

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
fila= driver.find_elements(By.CLASS_NAME, 'Box-row')
#fila

In [7]:
lst=[]
for i in fila:
  
    string=i.find_elements(By.TAG_NAME, 'a')[2].text
    string2=i.find_elements(By.TAG_NAME, 'a')[3].text
    
    lst.append(string+'-'+string2)
    
lst

['Nikita Sobolev-sobolevn',
 'Emil Ernerfeldt-emilk',
 'Jonny Borges-jonataslaw',
 'Stephen Celis-stephencelis',
 'monkeyWie-gopeed',
 'Azure SDK Bot-azure-sdk',
 'Martin Bonnin-martinbonnin',
 'Wangchong Zhou-fffonion',
 'Ammar Ahmed-ammarahm-ed',
 'Matt Bierner-mjbvz',
 'Alessandro Ros-aler9',
 'Mike Perham-mperham',
 'DavidKorczynski-Follow',
 'Abhijeet Prasad-AbhiPrasad',
 'Mislav Marohnić-mislav',
 'Leonard Hecker-lhecker',
 'Pedro Cuenca-pcuenca',
 'Marcus Olsson-marcusolsson',
 'Alex Eagle-alexeagle',
 'Nolan Lawson-nolanlawson',
 'Luke Latham-guardrex',
 'Joshua Levy-jlevy',
 'Bas Nijholt-basnijholt',
 'Ice3man-Ice3man543',
 'kunfei-gedoor']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url1 = 'https://github.com/trending/python?since=daily'

In [9]:
driver1=webdriver.Chrome(PATH, options=opciones)

driver1.get(url1)

In [10]:
repositories= driver1.find_elements(By.CLASS_NAME, 'h3')
repos=[i.text.strip() for i in repositories]
repos

[]

# Display all the image links from Walt Disney wikipedia page

In [11]:
url2= 'https://en.wikipedia.org/wiki/Walt_Disney'

In [12]:
driver2=webdriver.Chrome(PATH, options=opciones)

driver2.get(url2)

In [13]:
imagenes=[e.get_attribute('src') for e in driver2.find_elements(By.TAG_NAME, ('img'))]
#imagenes

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [14]:
url3='https://en.wikipedia.org/wiki/Python' 
driver3=webdriver.Chrome(PATH, options=opciones)

driver3.get(url3)

In [15]:
links=[e.get_attribute('href') for e in driver3.find_elements(By.TAG_NAME, ('a'))]
links[3:10]

['https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/wiki/Python#Snakes',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles']

#### Number of Titles that have changed in the United States Code since its last release point

In [16]:
# This is the url you will scrape in this exercise
url4= 'http://uscode.house.gov/download/download.shtml'
driver4=webdriver.Chrome(PATH, options=opciones)

driver4.get(url4)

In [17]:
negrita= driver4.find_elements(By.CLASS_NAME, 'usctitlechanged')
negrita[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="9498fec3052ade7dcdec41aaf1cf5513", element="9d0ee000-e119-4e69-84b3-432214386b24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9498fec3052ade7dcdec41aaf1cf5513", element="54d038d4-f7e1-49ac-bb29-208ebf2b0639")>]

In [18]:
negrita2=[i.text.strip() for i in negrita]
negrita2

['Title 17 - Copyrights ٭',
 'Title 22 - Foreign Relations and Intercourse',
 "Title 38 - Veterans' Benefits ٭",
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 44 - Public Printing and Documents ٭',
 'Title 49 - Transportation ٭',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [19]:
url5= 'https://www.fbi.gov/wanted/topten'
driver5=webdriver.Chrome(PATH, options=opciones)

driver5.get(url5)

In [20]:
FBI=driver5.find_elements(By.CLASS_NAME, ('title'))
FBI[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="97715908b87ffd6422ea8dea19a47936", element="4b2b2bbc-f20e-41a5-b8d0-82f70ddaf740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97715908b87ffd6422ea8dea19a47936", element="86590333-1004-46b9-80ac-38205563edfc")>]

In [21]:
FBI10=[i.text.strip() for i in FBI]
FBI10[1:]

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [117]:
url10 = 'https://www.emsc-csem.org/Earthquake/'

driver10=webdriver.Chrome(PATH, options=opciones)

driver10.get(url10)

In [118]:
tabla2=driver10.find_element(By.XPATH, '//*[@id="tbody"]')

In [119]:
data=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla2.find_elements(By.TAG_NAME, 'tr')]

data2=data[:20]
data2

[['',
  '',
  '',
  '2022-11-09   17:59:22.0\n27min ago',
  '30.12 ',
  'S  ',
  '71.24 ',
  'W  ',
  '65',
  '',
  '2.8',
  ' COQUIMBO, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:58:07.0\n29min ago',
  '21.86 ',
  'S  ',
  '68.58 ',
  'W  ',
  '124',
  '',
  '2.9',
  ' ANTOFAGASTA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:52:00.0\n35min ago',
  '36.92 ',
  'S  ',
  '177.62 ',
  'E  ',
  '56',
  '',
  '3.5',
  ' OFF E. COAST OF N. ISLAND, N.Z.',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:49:48.6\n37min ago',
  '26.18 ',
  'S  ',
  '178.43 ',
  'E  ',
  '685',
  '',
  '5.5',
  ' SOUTH OF FIJI ISLANDS',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:47:30.0\n39min ago',
  '36.20 ',
  'N  ',
  '140.10 ',
  'E  ',
  '50',
  '',
  '3.5',
  ' NEAR EAST COAST OF HONSHU, JAPAN',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:46:24.0\n40min ago',
  '19.34 ',
  'S  ',
  '69.69 ',
  'W  ',
  '85',
  '',
  '2.8',
  ' TARAPACA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:37:24.8\n49min ago',
  '36.04 ',
  'N  ',
  '22.20 ',
  'E  ',
  '6',
  '',
  '2.5',
  ' SOUTHERN GREECE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:37:20.5\n49min ago',
  '29.36 ',
  'N  ',
  '15.61 ',
  'W  ',
  '41',
  '',
  '2.8',
  ' CANARY ISLANDS, SPAIN REGION',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:35:43.0\n51min ago',
  '14.23 ',
  'N  ',
  '93.40 ',
  'W  ',
  '10',
  '',
  '4.2',
  ' OFF COAST OF CHIAPAS, MEXICO',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:29:46.5\n57min ago',
  '19.44 ',
  'N  ',
  '66.34 ',
  'W  ',
  '17',
  '',
  '3.7',
  ' PUERTO RICO REGION',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:19:36.9\n1hr 07min ago',
  '43.92 ',
  'N  ',
  '13.34 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:12:40.0\n1hr 14min ago',
  '24.16 ',
  'S  ',
  '67.15 ',
  'W  ',
  '195',
  '',
  '3.1',
  ' SALTA, ARGENTINA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:05:45.0\n1hr 21min ago',
  '8.90 ',
  'N  ',
  '126.69 ',
  'E  ',
  '17',
  '',
  '3.2',
  ' MINDANAO, PHILIPPINES',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:58:17.0\n1hr 28min ago',
  '17.95 ',
  'N  ',
  '66.91 ',
  'W  ',
  '10',
  '',
  '2.5',
  ' PUERTO RICO REGION',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:57:37.0\n1hr 29min ago',
  '20.58 ',
  'S  ',
  '69.43 ',
  'W  ',
  '77',
  '',
  '2.6',
  ' TARAPACA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:57:20.7\n1hr 29min ago',
  '38.09 ',
  'S  ',
  '176.65 ',
  'E  ',
  '5',
  '',
  '3.0',
  ' NORTH ISLAND OF NEW ZEALAND',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:50:09.7\n1hr 37min ago',
  '43.91 ',
  'N  ',
  '13.31 ',
  'E  ',
  '7',
  '',
  '2.3',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:50:02.0\n1hr 37min ago',
  '15.10 ',
  'N  ',
  '94.37 ',
  'W  ',
  '16',
  '',
  '4.2',
  ' OFF COAST OF CHIAPAS, MEXICO',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:43:54.0\n1hr 43min ago',
  '10.16 ',
  'S  ',
  '118.81 ',
  'E  ',
  '10',
  '',
  '3.4',
  ' SOUTH OF SUMBAWA, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:41:19.4\n1hr 45min ago',
  '19.18 ',
  'N  ',
  '155.49 ',
  'W  ',
  '36',
  '',
  '2.2',
  ' ISLAND OF HAWAII, HAWAII',
  '']]

In [120]:
df=pd.DataFrame(data, columns=['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10','col11','col12','col13'])

#df[:21]
df=df[:21]
df

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13
0,,,,2022-11-09 17:59:22.0\n27min ago,30.12,S,71.24,W,65,,2.8,"COQUIMBO, CHILE",
1,,,,2022-11-09 17:58:07.0\n29min ago,21.86,S,68.58,W,124,,2.9,"ANTOFAGASTA, CHILE",
2,,,,2022-11-09 17:52:00.0\n35min ago,36.92,S,177.62,E,56,,3.5,"OFF E. COAST OF N. ISLAND, N.Z.",
3,,,,2022-11-09 17:49:48.6\n37min ago,26.18,S,178.43,E,685,,5.5,SOUTH OF FIJI ISLANDS,
4,,,,2022-11-09 17:47:30.0\n39min ago,36.20,N,140.10,E,50,,3.5,"NEAR EAST COAST OF HONSHU, JAPAN",
5,,,,2022-11-09 17:46:24.0\n40min ago,19.34,S,69.69,W,85,,2.8,"TARAPACA, CHILE",
6,,,,2022-11-09 17:37:24.8\n49min ago,36.04,N,22.20,E,6,,2.5,SOUTHERN GREECE,
7,,,,2022-11-09 17:37:20.5\n49min ago,29.36,N,15.61,W,41,,2.8,"CANARY ISLANDS, SPAIN REGION",
8,,,,2022-11-09 17:35:43.0\n51min ago,14.23,N,93.40,W,10,,4.2,"OFF COAST OF CHIAPAS, MEXICO",
9,,,,2022-11-09 17:29:46.5\n57min ago,19.44,N,66.34,W,17,,3.7,PUERTO RICO REGION,
10,,,,2022-11-09 17:19:36.9\n1hr 07min ago,43.92,N,13.34,E,10,,2.2,CENTRAL ITALY,
11,,,,2022-11-09 17:12:40.0\n1hr 14min ago,24.16,S,67.15,W,195,,3.1,"SALTA, ARGENTINA",
12,,,,2022-11-09 17:05:45.0\n1hr 21min ago,8.90,N,126.69,E,17,,3.2,"MINDANAO, PHILIPPINES",
13,,,,2022-11-09 16:58:17.0\n1hr 28min ago,17.95,N,66.91,W,10,,2.5,PUERTO RICO REGION,
14,,,,2022-11-09 16:57:37.0\n1hr 29min ago,20.58,S,69.43,W,77,,2.6,"TARAPACA, CHILE",
15,,,,2022-11-09 16:57:20.7\n1hr 29min ago,38.09,S,176.65,E,5,,3.0,NORTH ISLAND OF NEW ZEALAND,
16,,,,2022-11-09 16:50:09.7\n1hr 37min ago,43.91,N,13.31,E,7,,2.3,CENTRAL ITALY,
17,,,,2022-11-09 16:50:02.0\n1hr 37min ago,15.10,N,94.37,W,16,,4.2,"OFF COAST OF CHIAPAS, MEXICO",
18,,,,2022-11-09 16:43:54.0\n1hr 43min ago,10.16,S,118.81,E,10,,3.4,"SOUTH OF SUMBAWA, INDONESIA",
19,,,,2022-11-09 16:41:19.4\n1hr 45min ago,19.18,N,155.49,W,36,,2.2,"ISLAND OF HAWAII, HAWAII",
20,,,,2022-11-09 16:38:20.0\n1hr 48min ago,10.13,S,118.82,E,10,,3.4,"SOUTH OF SUMBAWA, INDONESIA",

In [121]:
cols=['col1','col2','col3','col10','col11','col13']
df=df.drop(cols, axis='columns')
df

,col4,col5,col6,col7,col8,col9,col12
0,2022-11-09 17:59:22.0\n27min ago,30.12,S,71.24,W,65,"COQUIMBO, CHILE"
1,2022-11-09 17:58:07.0\n29min ago,21.86,S,68.58,W,124,"ANTOFAGASTA, CHILE"
2,2022-11-09 17:52:00.0\n35min ago,36.92,S,177.62,E,56,"OFF E. COAST OF N. ISLAND, N.Z."
3,2022-11-09 17:49:48.6\n37min ago,26.18,S,178.43,E,685,SOUTH OF FIJI ISLANDS
4,2022-11-09 17:47:30.0\n39min ago,36.20,N,140.10,E,50,"NEAR EAST COAST OF HONSHU, JAPAN"
5,2022-11-09 17:46:24.0\n40min ago,19.34,S,69.69,W,85,"TARAPACA, CHILE"
6,2022-11-09 17:37:24.8\n49min ago,36.04,N,22.20,E,6,SOUTHERN GREECE
7,2022-11-09 17:37:20.5\n49min ago,29.36,N,15.61,W,41,"CANARY ISLANDS, SPAIN REGION"
8,2022-11-09 17:35:43.0\n51min ago,14.23,N,93.40,W,10,"OFF COAST OF CHIAPAS, MEXICO"
9,2022-11-09 17:29:46.5\n57min ago,19.44,N,66.34,W,17,PUERTO RICO REGION
10,2022-11-09 17:19:36.9\n1hr 07min ago,43.92,N,13.34,E,10,CENTRAL ITALY
11,2022-11-09 17:12:40.0\n1hr 14min ago,24.16,S,67.15,W,195,"SALTA, ARGENTINA"
12,2022-11-09 17:05:45.0\n1hr 21min ago,8.90,N,126.69,E,17,"MINDANAO, PHILIPPINES"
13,2022-11-09 16:58:17.0\n1hr 28min ago,17.95,N,66.91,W,10,PUERTO RICO REGION
14,2022-11-09 16:57:37.0\n1hr 29min ago,20.58,S,69.43,W,77,"TARAPACA, CHILE"
15,2022-11-09 16:57:20.7\n1hr 29min ago,38.09,S,176.65,E,5,NORTH ISLAND OF NEW ZEALAND
16,2022-11-09 16:50:09.7\n1hr 37min ago,43.91,N,13.31,E,7,CENTRAL ITALY
17,2022-11-09 16:50:02.0\n1hr 37min ago,15.10,N,94.37,W,16,"OFF COAST OF CHIAPAS, MEXICO"
18,2022-11-09 16:43:54.0\n1hr 43min ago,10.16,S,118.81,E,10,"SOUTH OF SUMBAWA, INDONESIA"
19,2022-11-09 16:41:19.4\n1hr 45min ago,19.18,N,155.49,W,36,"ISLAND OF HAWAII, HAWAII"
20,2022-11-09 16:38:20.0\n1hr 48min ago,10.13,S,118.82,E,10,"SOUTH OF SUMBAWA, INDONESIA"

In [122]:
df['Latitud'] = df[['col5', 'col6']].agg(' '.join, axis=1)
df['Longitud'] = df[['col7', 'col8']].agg(' '.join, axis=1)
df

,col4,col5,col6,col7,col8,col9,col12,Latitud,Longitud
0,2022-11-09 17:59:22.0\n27min ago,30.12,S,71.24,W,65,"COQUIMBO, CHILE",30.12 S,71.24 W
1,2022-11-09 17:58:07.0\n29min ago,21.86,S,68.58,W,124,"ANTOFAGASTA, CHILE",21.86 S,68.58 W
2,2022-11-09 17:52:00.0\n35min ago,36.92,S,177.62,E,56,"OFF E. COAST OF N. ISLAND, N.Z.",36.92 S,177.62 E
3,2022-11-09 17:49:48.6\n37min ago,26.18,S,178.43,E,685,SOUTH OF FIJI ISLANDS,26.18 S,178.43 E
4,2022-11-09 17:47:30.0\n39min ago,36.20,N,140.10,E,50,"NEAR EAST COAST OF HONSHU, JAPAN",36.20 N,140.10 E
5,2022-11-09 17:46:24.0\n40min ago,19.34,S,69.69,W,85,"TARAPACA, CHILE",19.34 S,69.69 W
6,2022-11-09 17:37:24.8\n49min ago,36.04,N,22.20,E,6,SOUTHERN GREECE,36.04 N,22.20 E
7,2022-11-09 17:37:20.5\n49min ago,29.36,N,15.61,W,41,"CANARY ISLANDS, SPAIN REGION",29.36 N,15.61 W
8,2022-11-09 17:35:43.0\n51min ago,14.23,N,93.40,W,10,"OFF COAST OF CHIAPAS, MEXICO",14.23 N,93.40 W
9,2022-11-09 17:29:46.5\n57min ago,19.44,N,66.34,W,17,PUERTO RICO REGION,19.44 N,66.34 W
10,2022-11-09 17:19:36.9\n1hr 07min ago,43.92,N,13.34,E,10,CENTRAL ITALY,43.92 N,13.34 E
11,2022-11-09 17:12:40.0\n1hr 14min ago,24.16,S,67.15,W,195,"SALTA, ARGENTINA",24.16 S,67.15 W
12,2022-11-09 17:05:45.0\n1hr 21min ago,8.90,N,126.69,E,17,"MINDANAO, PHILIPPINES",8.90 N,126.69 E
13,2022-11-09 16:58:17.0\n1hr 28min ago,17.95,N,66.91,W,10,PUERTO RICO REGION,17.95 N,66.91 W
14,2022-11-09 16:57:37.0\n1hr 29min ago,20.58,S,69.43,W,77,"TARAPACA, CHILE",20.58 S,69.43 W
15,2022-11-09 16:57:20.7\n1hr 29min ago,38.09,S,176.65,E,5,NORTH ISLAND OF NEW ZEALAND,38.09 S,176.65 E
16,2022-11-09 16:50:09.7\n1hr 37min ago,43.91,N,13.31,E,7,CENTRAL ITALY,43.91 N,13.31 E
17,2022-11-09 16:50:02.0\n1hr 37min ago,15.10,N,94.37,W,16,"OFF COAST OF CHIAPAS, MEXICO",15.10 N,94.37 W
18,2022-11-09 16:43:54.0\n1hr 43min ago,10.16,S,118.81,E,10,"SOUTH OF SUMBAWA, INDONESIA",10.16 S,118.81 E
19,2022-11-09 16:41:19.4\n1hr 45min ago,19.18,N,155.49,W,36,"ISLAND OF HAWAII, HAWAII",19.18 N,155.49 W
20,2022-11-09 16:38:20.0\n1hr 48min ago,10.13,S,118.82,E,10,"SOUTH OF SUMBAWA, INDONESIA",10.13 S,118.82 E

In [123]:
cols=['col5','col6','col7','col8','col9']
df=df.drop(cols, axis='columns')
df

,col4,col12,Latitud,Longitud
0,2022-11-09 17:59:22.0\n27min ago,"COQUIMBO, CHILE",30.12 S,71.24 W
1,2022-11-09 17:58:07.0\n29min ago,"ANTOFAGASTA, CHILE",21.86 S,68.58 W
2,2022-11-09 17:52:00.0\n35min ago,"OFF E. COAST OF N. ISLAND, N.Z.",36.92 S,177.62 E
3,2022-11-09 17:49:48.6\n37min ago,SOUTH OF FIJI ISLANDS,26.18 S,178.43 E
4,2022-11-09 17:47:30.0\n39min ago,"NEAR EAST COAST OF HONSHU, JAPAN",36.20 N,140.10 E
5,2022-11-09 17:46:24.0\n40min ago,"TARAPACA, CHILE",19.34 S,69.69 W
6,2022-11-09 17:37:24.8\n49min ago,SOUTHERN GREECE,36.04 N,22.20 E
7,2022-11-09 17:37:20.5\n49min ago,"CANARY ISLANDS, SPAIN REGION",29.36 N,15.61 W
8,2022-11-09 17:35:43.0\n51min ago,"OFF COAST OF CHIAPAS, MEXICO",14.23 N,93.40 W
9,2022-11-09 17:29:46.5\n57min ago,PUERTO RICO REGION,19.44 N,66.34 W
10,2022-11-09 17:19:36.9\n1hr 07min ago,CENTRAL ITALY,43.92 N,13.34 E
11,2022-11-09 17:12:40.0\n1hr 14min ago,"SALTA, ARGENTINA",24.16 S,67.15 W
12,2022-11-09 17:05:45.0\n1hr 21min ago,"MINDANAO, PHILIPPINES",8.90 N,126.69 E
13,2022-11-09 16:58:17.0\n1hr 28min ago,PUERTO RICO REGION,17.95 N,66.91 W
14,2022-11-09 16:57:37.0\n1hr 29min ago,"TARAPACA, CHILE",20.58 S,69.43 W
15,2022-11-09 16:57:20.7\n1hr 29min ago,NORTH ISLAND OF NEW ZEALAND,38.09 S,176.65 E
16,2022-11-09 16:50:09.7\n1hr 37min ago,CENTRAL ITALY,43.91 N,13.31 E
17,2022-11-09 16:50:02.0\n1hr 37min ago,"OFF COAST OF CHIAPAS, MEXICO",15.10 N,94.37 W
18,2022-11-09 16:43:54.0\n1hr 43min ago,"SOUTH OF SUMBAWA, INDONESIA",10.16 S,118.81 E
19,2022-11-09 16:41:19.4\n1hr 45min ago,"ISLAND OF HAWAII, HAWAII",19.18 N,155.49 W
20,2022-11-09 16:38:20.0\n1hr 48min ago,"SOUTH OF SUMBAWA, INDONESIA",10.13 S,118.82 E

In [125]:
df.rename(columns={'col4':'Date&Time',
                        'col5':'Region_Name'},
               inplace=True)
df

,Date&Time,col12,Latitud,Longitud
0,2022-11-09 17:59:22.0\n27min ago,"COQUIMBO, CHILE",30.12 S,71.24 W
1,2022-11-09 17:58:07.0\n29min ago,"ANTOFAGASTA, CHILE",21.86 S,68.58 W
2,2022-11-09 17:52:00.0\n35min ago,"OFF E. COAST OF N. ISLAND, N.Z.",36.92 S,177.62 E
3,2022-11-09 17:49:48.6\n37min ago,SOUTH OF FIJI ISLANDS,26.18 S,178.43 E
4,2022-11-09 17:47:30.0\n39min ago,"NEAR EAST COAST OF HONSHU, JAPAN",36.20 N,140.10 E
5,2022-11-09 17:46:24.0\n40min ago,"TARAPACA, CHILE",19.34 S,69.69 W
6,2022-11-09 17:37:24.8\n49min ago,SOUTHERN GREECE,36.04 N,22.20 E
7,2022-11-09 17:37:20.5\n49min ago,"CANARY ISLANDS, SPAIN REGION",29.36 N,15.61 W
8,2022-11-09 17:35:43.0\n51min ago,"OFF COAST OF CHIAPAS, MEXICO",14.23 N,93.40 W
9,2022-11-09 17:29:46.5\n57min ago,PUERTO RICO REGION,19.44 N,66.34 W
10,2022-11-09 17:19:36.9\n1hr 07min ago,CENTRAL ITALY,43.92 N,13.34 E
11,2022-11-09 17:12:40.0\n1hr 14min ago,"SALTA, ARGENTINA",24.16 S,67.15 W
12,2022-11-09 17:05:45.0\n1hr 21min ago,"MINDANAO, PHILIPPINES",8.90 N,126.69 E
13,2022-11-09 16:58:17.0\n1hr 28min ago,PUERTO RICO REGION,17.95 N,66.91 W
14,2022-11-09 16:57:37.0\n1hr 29min ago,"TARAPACA, CHILE",20.58 S,69.43 W
15,2022-11-09 16:57:20.7\n1hr 29min ago,NORTH ISLAND OF NEW ZEALAND,38.09 S,176.65 E
16,2022-11-09 16:50:09.7\n1hr 37min ago,CENTRAL ITALY,43.91 N,13.31 E
17,2022-11-09 16:50:02.0\n1hr 37min ago,"OFF COAST OF CHIAPAS, MEXICO",15.10 N,94.37 W
18,2022-11-09 16:43:54.0\n1hr 43min ago,"SOUTH OF SUMBAWA, INDONESIA",10.16 S,118.81 E
19,2022-11-09 16:41:19.4\n1hr 45min ago,"ISLAND OF HAWAII, HAWAII",19.18 N,155.49 W
20,2022-11-09 16:38:20.0\n1hr 48min ago,"SOUTH OF SUMBAWA, INDONESIA",10.13 S,118.82 E

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [29]:
url9= 'https://twitter.com/'
driver9=webdriver.Chrome(PATH, options=opciones)

driver9.get(url9)

In [30]:
fansbroncano=driver9.find_elements(By.XPATH, ('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div'))
fansbroncano

[]

In [31]:
fansbron=[i.text.strip()for i in fansbroncano]
fansbron

[]

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [32]:
url = 'https://twitter.com/'

In [33]:
fansbroncano2=driver9.find_elements(By.XPATH, ('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a'))
fansbroncano2

[]

In [34]:
fansbron2=[i.text.strip()for i in fansbroncano2]
fansbron2

[]

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [35]:
url6 = 'https://www.wikipedia.org/'

In [36]:
driver6=webdriver.Chrome(PATH, options=opciones)

driver6.get(url6)

In [37]:
languages=driver6.find_elements(By.CLASS_NAME, ('central-featured-lang'))
languages[:2]

[<selenium.webdriver.remote.webelement.WebElement (session="73d57bb91da51e18c3eeca83dd221948", element="e05c79e1-d1bf-4e99-b92e-85201f822e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73d57bb91da51e18c3eeca83dd221948", element="9cfda778-5b3d-4141-9ef4-880025837aeb")>]

In [38]:

all_languages=[i.text.replace('\n', ' ')for i in languages]
all_languages

['Español 1 755 000+ artículos',
 'English 6 458 000+ articles',
 '日本語 1 314 000+ 記事',
 'Русский 1 798 000+ статей',
 'Français 2 400 000+ articles',
 'Deutsch 2 667 000+ Artikel',
 'Italiano 1 742 000+ voci',
 '中文 1 256 000+ 条目 / 條目',
 'Português 1 085 000+ artigos',
 'العربية 1 159 000+ مقالة']

#### A list with the different kind of datasets available in data.gov.uk

In [39]:
url7 = 'https://data.gov.uk/'

In [40]:
driver7=webdriver.Chrome(PATH, options=opciones)

driver7.get(url7)

In [41]:
dataset=driver7.find_elements(By.CLASS_NAME,('govuk-link'))
#dataset

In [42]:
data=[i.text.strip()for i in dataset]
data[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [43]:
url8= 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [44]:
driver8=webdriver.Chrome(PATH, options=opciones)

driver8.get(url8)

In [45]:
tabla=driver8.find_element(By.TAG_NAME, 'tbody')

filas=tabla.find_elements(By.TAG_NAME, 'tr')



data=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

data[:2]

[['Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance']]

In [46]:
cabeceras=driver8.find_element(By.TAG_NAME, 'thead')

cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

driver.quit()

cabeceras

['Language', 'Native speakers\n(millions)', 'Language family', 'Branch']

In [47]:
df=pd.DataFrame(data, columns=cabeceras)

df

,Language,Native speakers\n(millions),Language family,Branch
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",920,Sino-Tibetan,Sinitic
1,Spanish,475,Indo-European,Romance
2,English,373,Indo-European,Germanic
3,Hindi\n(excl. Urdu),344,Indo-European,Indo-Aryan
4,Bengali,234,Indo-European,Indo-Aryan
5,Portuguese,232,Indo-European,Romance
6,Russian,154,Indo-European,Balto-Slavic
7,Japanese,125,Japonic,Japanese
8,Yue Chinese\n(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic
10,Marathi,83.1,Indo-European,Indo-Aryan
11,Telugu,82.7,Dravidian,South-Central
12,Turkish,82.2,Turkic,Oghuz
13,Wu Chinese\n(incl. Shanghainese),81.8,Sino-Tibetan,Sinitic
14,Korean,81.7,Koreanic,language isolate
15,French,79.9,Indo-European,Romance
16,Tamil,78.4,Dravidian,South
17,Standard German,75.6,Indo-European,Germanic
18,Egyptian Spoken Arabic\n(excl. Saʽidi Arabic),74.8,Afroasiatic,Semitic
19,Urdu\n(excl. Hindi),70.2,Indo-European,Indo-Aryan
20,Javanese,68.3,Austronesian,Malayo-Polynesian
21,Western Punjabi\n(excl. Eastern Punjabi),66.4,Indo-European,Indo-Aryan
22,Italian,64.8,Indo-European,Romance
23,Gujarati,57.0,Indo-European,Indo-Aryan
24,Iranian Persian\n(excl. Dari and Tajik),56.4,Indo-European,Iranian
25,Bhojpuri,52.3,Indo-European,Indo-Aryan
26,Hausa,50.8,Afroasiatic,Chadic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [48]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [49]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [50]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [51]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [52]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [53]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [54]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

KeyboardInterrupt: Interrupted by user

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code